h1 {
    margin-bottom: 60px;
}

.form-new-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-join-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 300px;
    text-align: justify;
    padding: 20px 20px 20px 20px;
}

.form-btn-start {
    width: 300px;
    text-align: center;
    margin-top: 10px;
}

.form-btn-join {
    width: 300px;
    text-align: center;
}